<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.melapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Melapp">
        <activity
            android:name=".DoeSaActivity"
            android:exported="true" />
        <activity
            android:name=".AdoteSaActivity"
            android:exported="false" />
        <activity
            android:name=".SistemaAdocaoActivity"
            android:exported="false" />
        <activity
            android:name=".InfGeraisHamsterActivity"
            android:exported="false" />
        <activity
            android:name=".InfGeraisCalopsitaActivity"
            android:exported="false" />
        <activity
            android:name=".InfGeraisGatoActivity"
            android:exported="false" />
        <activity
            android:name=".InfGeraisCachorroActivity"
            android:exported="false" />
        <activity
            android:name=".InfGeraisActivity"
            android:exported="false" />
        <activity
            android:name=".Faca_CadastroActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.MelappNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>